.App {
  text-align: left;
}

body {
  background-color: #ffffff;
  color: #ff9000;
}

.note {
  width: 800px;
  margin: 50px auto;
  background: url(./img/note-bg.png) repeat-y #fff8d4;
  position: relative;
  box-shadow: 2px 2px 30px #333;
  border: 2px solid #332929;
  padding-bottom: 70px;
}

.note h1 {
  text-align: center;
  height: 70px;
  line-height: 75px;
  background-color: tomato;
  color: #f8f8f8;
}

.write {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #ccc;
  background: #fff;
  opacity: 0.9;
}

.write div {
  padding: 15px;
  text-align: right;
}
.write label {
  height: 40px;
  line-height: 43px;
  color: tomato;
  padding-right: 10px;
  vertical-align: middle;
}
.write .todo-field-box {
  margin: 0;
  padding: 8px;
  font-size: 15px;
  border: 1px solid tomato;
  vertical-align: middle;
}
.write .todo-field-box:focus {
  outline: none;
  border: 1px solid green;
}
.write .submit {
  background-color: tomato;
  border: none;
  color: #fff;
  font-size: 10px;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  width: 60px;
  height: 30px;
  vertical-align: middle;
  border-radius: 20px;
}

.todo li {
  height: 30px;
  line-height: 30px;
  padding: 8px 0;
  border-bottom: 1px solid #efe8c8;
  text-indent: 80px;
}
.todo li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.todo li button {
  display: block;
  width: 60px;
  height: 30px;
  float: right;

  margin-right: 7px;

  border: 1px solid #e5debd;
  border-radius: 3px;
  color: #bcb283;
  text-indent: 0;
  text-align: center;
  font-size: 10pt;
}

.todo li:first-child button {
  display: none;
}

.todo li button:hover {
  border: 1px solid #ff0000;
  color: #ff0000;
}
